PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@mycluster.mt6afrt.mongodb.net/petrodyn?retryWrites=true&w=majority&appName=mycluster
MONGODB_DB_NAME=petrodyn
DATA_INGESTION_URL=http://localhost:3002
PIPELINE_INTERVAL_SECONDS=5
DEFAULT_WELL_ID=BW-001
